body {
	font-family: sans-serif;
	padding: 1em 3em;
}

h1 {
	text-align: center;
	padding-bottom: 25px; 
}

#heading {
	text-align: center;
	
}


.features {
	text-align: center;
	
}

.button { 
	display: grid; 
	grid-row-start: 3; 
	grid-column-start: 2; 
	justify-content: center;
	padding: 20px; 

}

.buttonstyle {
	background-color: rgb(103, 110, 108);
	text-align: center;
	padding: 10px; 
	display: inline-block; 
	border-radius: 5px; 
	cursor: pointer; 
	padding: 13px; 
	border: none; 
	color: white; 
	font-size: 14px;


}


.container {
	text-align: center; 
	display: grid; 
	grid-column-start: 2;

}


.grid {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	grid-template-rows: auto auto auto; 
	grid-row-gap: 30px; 

}

.image {
	grid-column-start: 2;


}
